{% extends "admin/layout.twig" %}

{% block menu %}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <br><br><br><br><br>

            <form action="{{ path('admin_login_check') }}" method="post" role="form">
                {% if error %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endif %}
                <div class="form-group">
                    <label for="_username">Username</label>
                    <input type="text" class="form-control" name="_username" id="_username" placeholder="Username" value="{{ last_username }}">
                </div>
                <div class="form-group">
                    <label for="_password">Password</label>
                    <input type="password" class="form-control" name="_password" id="_password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-default">Sign in</button>
            </form>
        </div>
    </div>

{% endblock %}
